/*  
	Unknown Pleasures
*/
* {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
html, body {
  overflow: hidden;
  height: 100%;
}
body {
  background: #111111 url("lib/noise.jpg") center repeat;
  color: #fff;
  text-align: center;
  font-family: Georgia,serif;
}
#wrapper {
  -webkit-perspective: 1000px;
  -moz-perspective: 1000px;
  perspective: 1000px;
  -webkit-perspective-origin: 50% 70%;
  -moz-perspective-origin: 50% 70%;
  perspective-origin: 50% 70%;
}
#pulsar {
  display: inline-block;
  position: relative;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform-origin: center center;
  -moz-transform-origin: center center;
  transform-origin: center center;
}
h1 {
  text-transform: uppercase;
  font-size: 50px;
  color: #000;
  font-weight: normal;
  text-align: center;
  position: absolute;
  width: 100%;
  z-index: 1000;
  text-shadow: 0 0 3px #000;
  line-height: 750px;
}
svg {
  display: block;
  position: absolute;
  -webkit-transform-origin: center bottom;
  -moz-transform-origin: center bottom;
  transform-origin: center bottom;
}
path {
  stroke: #fff;
  stroke-width: 0.07em;
  fill: #111;
}
